<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="ERP Meli 2.0">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="test"/>
    <env name="REAL_MELI_HTTP" value="0"/>
  </php>
</phpunit>
